<!--<html>
<body>-->
{% extends "index.html" %}

 <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/main.css" rel="stylesheet" type="text/css">
	<link href="assets/css/my-custom-styles.css" rel="stylesheet" type="text/css">
	<!--[if lte IE 9]>
		<link href="assets/css/main-ie.css" rel="stylesheet" type="text/css"/>
		<link href="assets/css/main-ie-part2.css" rel="stylesheet" type="text/css"/>
	<![endif]-->
	<!-- CSS for demo style switcher. you can remove this -->
	<link href="demo-style-switcher/assets/css/style-switcher.css" rel="stylesheet" type="text/css">

<div id="page-wrapper">


{% block topbar %}

{% csrf_token %}
<input type="text" id="search" name="search" />
<ul id="search-results">
</ul>

{% endblock %}



 
{% block content %}
       
    <div class="col-lg-6">
         <div class="col-xs-9 text-right">
                                  
                                   
{% if person.thumbnail %}
<p><img src="/static/assets/{{person.thumbnail}}" class="img-circle img-responsive img-center"  width="150"/></p>
{% endif %}
                                    <p><a href="/persons/like/{{person.id}}" class="btn btn-xs btn-success pull-right">Like</a></p>
                                   
                                </div>
        
    </div>
     <div class="col-lg-4">
          <div class="list-group">
               <h4 class="list-group-item active">Tasks</h4>
                                
        
         
     {% for t in person.task_set.all %}

<p class="list-group-item-text">
{{t.description}} {{t.CreatedOn}}: {{t.site_id}}  {{t.id}}
</p>
              
{% endfor %}
         </div>
    </div>
    
     <div class="col-lg-4">
           <div class="list-group">
            <h4 class="list-group-item active">Comments</h4>
         
{% for c in person.comment_set.all %}
               <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
<p class="list-group-item-text">
{{c.description}} {{c.CreatedOn}}: {{c.TaskType}}  {{c.person}} {{c.id}}
<a href="/persons/delete_comment/{{c.id}}" class="btn btn-xs btn-danger">Delete</a>
</p>
         
         
        
{% endfor %}
      
          
<div class="panel-footer">
<p><a href="/persons/add_comment/{{person.id}}" class="btn btn-xs btn-primary">Add Comment</a></p>
    
       </div>
    </div>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix">
    
   
    
    
    
    </div>
                            </div>
        
        
        
        
        
    </div>
    
    
     <div id="wrapper">
        <table class="table colored-header datatable project-list">
                 
										<thead>
										 	<tr>
												<th>Assignee</th>
												<th>Date Start</th>
												<th>Days to Deadline</th>
												<th>Priority</th>
												<th>Assigned By</th>
												<th>Status</th>
											</tr> 
                                       </thead>
            <tbody>
             <div class="row"> 
            
										
                                          {% for tas in task %} 
                                           	<tr>
												<td><a href="/persons/get/{{task.id}}">{{tas.person}}</a></td>
												<td>{{tas.CreatedOn}}</td>
												<td>12 days</td>
												<td><span class="label label-warning">{{tas.task_priority}}</span></td>
												<td> <a href="#">{{tas.CreatedBy}}</a></td>
												<td><span class="label label-success">{{tas.task_status}}</span></td>
											</tr></tr>
                     
</div>
											    {% endfor %}
           
 
            </div>
                </tbody>
									</table>
        
         </hr>

                       
     
     
     
     
     
    </div>  
{% endblock %}
<!--</body>
</html>-->
